.hero{
    background-color: white;
    /* background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    position: absolute; */
    
    display:flex;
    flex-direction: row;
    justify-content: end;
    /* top: 0;
    left: 0;
    z-index: -1; */
    
    width: 100%;
    
    padding-top: 25px;
    /* padding-right: 50px; */ 
    color: #fff;
}
.imgg{
    width: 45%;
  }
  .img{
      width: 100%;
      margin-top: 20%;
  }
.hero #heading h3{
    color: #fff;}
.hero #heading{
    text-align: center;
    margin: 0;padding: 0;
}
@media screen and (min-width:350px) and  (max-width:1440px){

    .hero{
        
        display: flex;
        flex-direction: column-reverse;
        height: 87vh;
        justify-content: center;
    }
    
    .imgg{
        width: 100%;
    }
    .img{
        margin-top: 0%;
    }
    .container{
        width: 100%;
    }
    .row{
        width: 100%;
    }
    .row p{
        padding-left: 11px;
    }
    .button{
        display: flex;
        justify-content: center;
    }
}