.items {
  width: 30%;
  box-shadow: 2px 5px 11px #d2dbdb;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.flex {
  display: flex;
  height: 210px;
  gap: 9px;
}
.imgy img {
  width: 60px;
  height: 60px;
  background-color: #5fcbe7;
  border-radius: 32%;
}
.texty {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.texty h1 {
  height: 90px;
}
.courseCard h3 {
  font-weight: 500;
  color: #5fcbe7;
}
.dimg img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
}
.boxy {
  display: flex;
  gap: 6px;
}
.para {
  align-items: center;
  display: flex;
}
.outline-btn {
  margin: 0;
  box-shadow: none;
  border: 2px solid #5fcbe7;
  background-color: #5fcbe7;
  transition: 0.5s;
  align-items: center;
  display: flex;
  justify-content: center;
}
.outline-btn:hover {
  background-color: black;
  color: #fff;
}
.grid2 {
  display: flex;
  flex-wrap: wrap;
  padding: 26px;
  row-gap: 30px;
  column-gap: 30px;
  justify-content: center;
}

.price {
  background-color: #f8f8f8;
  margin: 30px 0;
  padding: 20px;
  align-items: center;
  display: flex;
  justify-content: center;
}
.enroll {
  display: flex;
  justify-content: center;
}
/* //////////////////////////////////////////////////// */
.contain {
  max-width: 85%;
  margin: auto;
}
.grid3 {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
}
.boxyy {
  display: flex;
  gap: 6px;
  background-color: #fff;
  box-shadow: 0 5px 25px -2px rgb(0 0 0/6%);
  padding: 30px 20px;
  transition: 0.5s;
  flex-direction: column;
  cursor: pointer;
  width: 17%;
}
.two2 {
  height: 185px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.imgyy img {
  height: 80px;
  margin: auto;

  width: 80px;
  background-color: #5fcbe7;
  border-radius: 32%;
}
.online h1 {
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
  margin: 20px 0;
  text-align: center;
}
.online .cor {
  background-color: #f8f8f8;
  border-radius: 5px;
  color: #1eb2a6;
  font-size: 15px;
  font-weight: 500;
  padding: 5px 20px;
}
@media screen and (min-width: 768px) and (max-width:1300px) {
  .grid2 {
    display: flex;
    flex-wrap: wrap;
    padding: 26px;
    row-gap: 30px;
    column-gap: 33px;
  }
  .items {
    width: 30%;
    box-shadow: 2px 5px 11px #d2dbdb;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
   
  }
  .flex {
    display: flex;
    height: 277px;
    gap: 8px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .texty {
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: center;
  }
  .texty h1 {
    height: 90px;
    text-align: center;
  }

  /*-------------------------------------------*/
  .grid3 {
    display: flex;
    flex-wrap: wrap;
    gap: 46px;
    justify-content: center;
  }
  .boxyy {
    width: 28%;
  }
  .price {
    margin: 16px 0;
    padding: 15px;
  }
}
