@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body{
  font-family: "Roboto", sans-serif;
 
}
.container{
  width: 50%;
}
.social{
  display: flex;
}

.flexSB{
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  
}
.flexSBB{
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  background-color: black;
  
 
}
.flexSBBB{
  display: flex;
  justify-content: flex-start;
  width: 75%;
  padding-right: 20%;
}

.icon{
  width: 40px;
  height: 40px;
  line-height: 40px;
  border-radius: 50%;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.3);
  color: #5FCBE7;
  transition: 0.5s;
}
.icon:hover{
  cursor: pointer;
  background-color: #5FCBE7;
  color: #fff;
}
button{
  border: none;
  
}
.row{
  width: 70%;
  color: black;
}
button{
  padding: 17px 30px;
  background-color: black;
  color: white;
  font-weight: 600;
  border: none;
  margin: 30px 10px 0 0 ;
  border-radius: 3px;
  cursor: pointer;
  box-shadow: 0 24px 36px -11px rgba(0 0 0 /9%);
}
button i{
  margin-left: 20px;
}
button:hover{
  box-shadow: none;
}
.primary-btn{
  background-color: #5FCBE7;
  color: #fff;
}
#heading{
  text-align: center;
  padding: 10px 0;
}
/* #heading h3{
  font-weight: 600;
  letter-spacing: 1px;
  color: #1eb2a6;
  text-transform: uppercase;
} */
#heading h1{
  font-size: 35px;
  font-weight: 600;
  margin: 20px 0;
  text-transform: capitalize;
  color: #5FCBE7;
  
}
p{
  line-height: 30px;
  font-size: 18px;
}
.back{
  /* background-image: url("../../../public/about.png");
  background-repeat: no-repeat;
  background-size: cover; */
  /* background-position: center center; */
  /* background-attachment: fixed; */
  display:flex;
  flex-direction: column;
  justify-content: center;
  z-index: -1;
  width: 100%;
  height: 100vh;
  color: #fff;
  text-align: center;
  padding-bottom: 65px;
  
  
}
.text{
  color: black;
}
.aboutus{
  display: flex;
  /* padding: 8px; */
}
.back h1{
  font-size: 100px;
  font-weight: 400;
 
  
}
.back h2{
  font-weight: 500;
  font-style: 17px;
  text-transform: uppercase;
}

.container1{
  width: 45%;
  padding: 34px;
}
.aboutclass{
  display: flex;

}
@media screen and (max-width:768px){
  .back{
    background-position: center;
    padding-top: 50%;
    height: 80vh;
  }
}